@import '../assets/scss/style.scss';

.ProjectsPortfolio {
  padding: 5rem 0 1rem 0;
  .line {
    margin: 0 40px 0 10px;
    color: green;
    border: 1px solid $theme-pf;
    width: 100%;
  }
  .project-content {
    position: relative;
    .project-desc {
      right: 0;
      width: 45%;
      z-index: 2;
      position: absolute;
    }
    .project-img {
      position: relative;
      img {
        border-radius: 5px;
        width: 100%;
        object-fit: cover;
        &:hover {
          filter: blur(0) saturate(1) brightness(111%);
          transition: 0.5s;
        }
        &:not(:hover) {
          transition: 0.5s;
        }
      }
    }
    .project-summary {
      background-color: #0e2342;
      border-radius: 10px;
      box-shadow: 0 10px 30px -15px #020c1bb3;
      p {
        padding: 30px;
      }
      strong {
        color: $theme-pf;
      }
      a {
        color: $theme-pf;
        text-decoration: none;
      }
    }
    .project-links {
      float: right;
      .project-icon {
        width: 20px;
        color: #b0cdf1;
        &:hover {
          color: $theme-pf;
          transition: 0.5s;
        }
        &:not(:hover) {
          transition: 0.5s;
        }
      }
    }
  }

  .project-content-opposite {
    position: relative;
    display: inline-flex;
    width: 100%;
    .project-desc {
      width: 45%;
      z-index: 2;
      position: absolute;
    }
    .project-img {
      position:relative;
      margin-left:auto;
      right:0;
      // position: absolute;
      // right: 0;
      img {
        border-radius: 5px;
        width: 100%;
        object-fit: cover;
        &:hover {
          filter: blur(0) saturate(1) brightness(111%);
        }
      }
    }
    .project-summary {
      background-color: #0e2342;
      border-radius: 10px;
      box-shadow: 0 10px 30px -15px #020c1bb3;
      p {
        padding: 30px;
      }
      strong {
        color: $theme-pf;
      }
      a {
        color: $theme-pf;
        text-decoration: none;
      }
    }
    .project-links {
      float: left;
      .project-icon {
        width: 20px;
        color: #b0cdf1;
        &:hover {
          color: $theme-pf;
          transition: 0.5s;
        }
        &:not(:hover) {
          transition: 0.5s;
        }
      }
    }
  }
}
