@import '../assets/scss/style.scss';

.HomePortfolio {
  //padding-top: 2rem;
  height: 100vh;
  align-items: center;
  .download {
    a {
      border-radius: 5px;
      padding: 15px 15px;
      transition: 0.3s;
      width: 180px;
      text-decoration: none;
      text-decoration-color: initial;
      border: 1px solid $cyan-pf;

      &:hover {
        background-color: $theme-hover-pf;
        transition: 0.8s;
      }
    }
  }
  .img-about {
    height: 300px;
    overflow: hidden;
  }
  .scroll {
    margin-top: 3.5rem;
    a {
      text-decoration: none;
      text-decoration-color: white;
      color: $theme-description-pf;
      //transition: all 0.2s linear;
      transition: opacity 250ms;
      animation: fade-in-bottom 0.5s ease-in-out 150ms both;
      &:hover {
        color: $theme-pf;
        transition: 0.8s;
      }
      svg {
        //fill: $theme-description-pf;
        fill: $theme-pf;
      }
    }
  }
}
