@import '../assets/scss/style.scss';

.AboutPortfolio {
  padding: 3.5rem 3rem;
  .About {
    .content {
      padding: 1rem 2rem 1rem 2rem;
    }
    .line {
      margin: 0 40px 0 10px;
      color: green;
      border: 1px solid $theme-pf;
      width: 100%;
    }
    .circle {
      stroke: $theme-pf;
      fill: transparent;
    }
    .active {
      .circle {
        fill: $theme-pf;
      }
    }
    .left {
      text-align: left;
      float: left;
      clear: none;
      width: 50%;
    }
    .right {
      text-align: right;
      float: right;
      clear: none;
      width: 50%;
    }
    .circle-section {
      margin: 3rem 0 5rem 2rem;
      width: 295px;
    }
  }

  .thoughts {
    margin-top: 80px;
    .container {
      height: 80px;
      //margin: 0 2.2rem;
      padding: 20px;
      border: 1px solid $theme-pf;
      border-radius: 10px;
      position: relative;

      &:hover {
        color: white;
        transition: 0.5s;
      }
      &:not(:hover) {
        transition: 0.5s;
      }

      .signature {
        position: absolute;
        bottom: 20px;
        right: 20px;
      }

    }


  }
}
