@import '../assets/scss/style.scss';

.SkillsPortfolio {
  display: block;
  padding: 5rem 0;
  .line {
    margin: 0 40px 0 10px;
    color: green;
    border: 1px solid $theme-pf;
    width: 100%;
  }

  .main-skills {
    color: $theme-pf;
    position: relative;

    .parallax-inner {
      z-index: -1;
    }
    .back {
      display: flex;
      position: relative;
      min-height: 300px;
      // transform: translate3d(0%, -249.108px, 0px);
      > p {
        position: absolute;
      }
    }

    .front {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 100px;

      .icon1, .icon2, .icon3, .icon4 {
        width: 70px;
        margin: 0 90px;
      }

    }

  }

}
