@import '../assets/scss/style.scss';

.MenuHeader {
  font-family: "Fira Code", monospace !important;
  ul {
    justify-content: end;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    list-style-type: none;
    > li {
      margin: 0 1.8em;
      a {
        text-decoration: none;
      }
    }
    .resume {
      text-decoration: none;
      border-radius: 5px;
      padding: 5px 15px;
      transition: 0.3s;
      &:hover {
        background-color: $cyan-pf;
        color: $white;
        transition: 0.5s;
      }
    }
  }
}
