@import '../assets/scss/style.scss';


.main {
  margin: 5rem 10rem;
  .line {
    margin: 0 40px 0 10px;
    color: green;
    border: 1px solid $theme-pf;
    width: 100%;
  }
  .header {
    white-space: nowrap;
    hr {
      border: 1px solid $theme-pf;
      width: 100%;
    }
  }

  .company {
    padding-right: 4rem;
    a {
      text-decoration: none;
      text-decoration-color: white;
      color: $theme-description-pf;
      cursor: pointer;
    }

    .left-side {
      border-left: 2px solid #233554;
      height: 50px;
      font-size: 14px;
      &:hover {
        background-color: $theme-selection-pf;
        transition: 0.5s;
        color: $theme-pf;
      }
      &.active {
       border-left: 2px solid $theme-pf;
       color: $theme-pf;
      }
    }
  }

  .content {
    p {
      margin: 0.5rem 0;
      padding:0;
    }
    ul {
      padding: 0;
      margin: 25px 0 0 0;
      list-style-image: initial;
      list-style: none;
      color: $theme-description-pf;
      li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;
      }
      li::before {
        content: "▹";
        position: absolute;
        left: 0px;
        color: $theme-pf;
      }
    }
    .header {
      a {
        color: $theme-pf;
        text-decoration: none;
        text-decoration-color: white;
      }
    }

  }
}
