@import '../assets/scss/style.scss';

.main-menu {
  position: relative !important;
  .HeaderPortfolio {
    align-items: center;

    @include media-breakpoint-down(sm) {
      padding: 0 1rem 0 1rem;
      .navigation-menu {
        .MenuHeader {
          display: none;
        }
        a {
          cursor: pointer;
          float: right;
          svg {
            fill: white;
          }
        }
        a:hover svg {
          fill: $theme-pf;
          transition: 0.5s;
        }
        a:not(:hover) svg {
          transition: 0.5s;
        }
      }
    }

    @include media-breakpoint-up(sm) {
      padding: 0 2.5rem 0 2.5rem;
      .navigation-menu {
        .MenuHeader {
          display: block;
        }
        .icon-side-bar {
          display: none;
        }
      }
    }
  }
  .side-bar {
    .sideBar-close {
      padding-right: 1rem;
      float: right;
      svg {
        fill: $theme-pf;
      }
    }
    padding-top: 2rem;
    overflow: hidden;
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: $theme-side-bar-pf;
    color: white;
    width: 60%;
    box-shadow: -10px 0px 30px -15px #020c1bb3;
    .sideBar-download {
      margin-top: 2rem;
      a {
        text-decoration: none;
        width: 30%;
        border-radius: 5px;
        padding: 0.5rem 0;
        &:hover {
          background-color: $theme-hover-pf;
          transition: 0.8s;
        }
      }
    }
    ul {
      margin-top: 3rem;
      padding-left: 0;
      // width: 50%;
      // margin: auto;
      > li {
        margin: 1.5rem 0;
        cursor: pointer;
        width: 100%;
        list-style: none;
        a {
          text-decoration: none;
          &:hover {
            color: $theme-pf;
            transition: 0.5s;
          }
          &:not(:hover) {
            transition: 0.5s;
          }
        }
      }
    }
  }
}
