@import '../assets/scss/style.scss';

.Contact {
  @include media-breakpoint-down(sm) {
    padding: 0;
    margin: 5rem 0 0 0;
    .contact-header {
      font-size: 18px;
    }
    h1 {
      font-size: 30px;
    }
  }
  .contact-content {
    @include media-breakpoint-down(sm) {
      width: 90%;
    }
    text-align: center;
    width: 50%;
  }
  padding: 5rem 0 1.3rem 0;
  > * {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  align-items: center;
  .contact-button {
    @include media-breakpoint-down(sm) {
      margin: 3.5rem auto;
    }
    width: 10rem;
    margin: 4rem auto 10rem auto;
    border-radius: 5px;
    padding: 0.6rem 0;
    text-decoration: none;
    text-decoration-color: white;
    &:hover {
      background-color: $theme-selection-pf;
      color: $theme-pf;
      transition: 0.3s;
    }
    &:not(:hover) {
      transition: 0.5s;
    }

  }
  .signature {
    @include media-breakpoint-down(sm) {
      font-size: 15px;
    }
    color: gray;
  }
}
